<nav class="navbar" style="background-color: #ededed; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
  <div class="container-fluid position-relative"> 
    <a class="navbar-brand" href="#">
      <img src="/logoCCB-trans.png" alt="Logo" width="80" height="40" />
    </a>
    
    <div class="d-flex align-items-center" 
         style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
      <div>
        <h1 class="mb-0">Sistema de Estoque</h1> </div>
    </div>
  </div>
</nav>

<div id="login-background" class="container-fluid d-flex justify-content-center align-items-center" style="background: linear-gradient(to right, #eae9e9, #b0b0b0);">

  <div class="card p-5 shadow" style="width: 100%; max-width: 400px; margin-top: 20px; background-color: #f2f2f2; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
    <div *ngIf="showForm" [@fadeSlide]>
      <ng-container  *ngIf="isLogin; else cadastroTemplate">
        <!-- LOGIN -->
        <h3 class="text-center mb-4">LOGIN</h3>
        <p class="text-center mb-4">Por favor, entre com suas credenciais</p>

        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="mb-3">
            <label class="visually-hidden">Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="email"
              name="email"
              required
              #emailLogin="ngModel"
              email
            />
            <div *ngIf="emailLogin.invalid && emailLogin.touched" class="text-danger small">Senha ou email inválidos.</div>
          </div>

          <div class="mb-2">
            <label class="form-label">Senha</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                [(ngModel)]="senha"
                name="senha"
                required
                minlength="5"
                #senhaLogin="ngModel"
              />
              <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
                <img
                  [src]="showPassword ? '/login-page/olho-aberto-removebg-preview.png' : '/login-page/olho-fechado-removebg-preview.png'"
                  [ngClass]="showPassword ? 'img-aberto' : 'img-fechado'"
                />
              </button>
            </div>
            <div *ngIf="senhaLogin.invalid && senhaLogin.touched" class="text-danger small">
              Senha ou email inválidos.
            </div>
          </div>

          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="checkChecked" checked />
            <label class="form-check-label" for="checkChecked">Lembrar-me</label>
          </div>

          <button type="submit" class="btn btn-secondary w-100" [disabled]="loginForm.invalid">Entrar</button>

          <div class="text-center mt-3">
            Esqueceu sua senha?
            <a routerLink="/forgot-password" class="text-secondary">Clique aqui</a>
          </div>
        </form>
      </ng-container>

      <ng-template #cadastroTemplate>
        <!-- formulário de cadastro pode ir aqui se precisar -->
      </ng-template>
    </div>
  </div>
</div>
