h1{
    font-size: 24px;
    font-weight: bold; 
    display: flex;
    position: absolute;
    margin-top: -15px;
    margin-left: -100px;
}
.topbar-text-content{
    font-size: 20px;
}
.topbar-user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topbar-user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.topbar-user-info h2 {
  margin: 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.701);
}
.topbar-user-info p {
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.logout-button {
  margin-left: 10px;
  border-radius: 10px;
  background-color: transparent;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.086);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logout-button img {
  width: 30px;
  height: 30px;
}
.logout-button p {
  margin: 0;
}
button[data-bs-toggle="offcanvas"] {
  display: none;
}
@media (max-width: 969px) {
  button[data-bs-toggle="offcanvas"] {
    display: block;
    margin-left: -50px
  }
}
@media (max-width: 969px) {
    .topbar-user-info p{
        display: none;
    }
    .topbar-user-info h2{
        display: none;
    }
    .logout-button{
        display: none;
    }
    h1 {
        margin-left: 0px;
        margin-right: 90px;
        margin-top: 5px;
        position: relative;
    }
}
/* MOBILE NAVIGATION PANEL */
.nav-mobile-header,
.nav-mobile-body {
  background-color: #efefef;
}
.nav-button {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f1f1f1;
  color: #333;
  border: none;
  width: 210%;
  padding: 20px 20px;
  justify-content: flex-start;
  transition: background-color 0.3s;
}
.btn-group-vertical .nav-button {
  border-radius: 10px !important;
  margin-bottom: 6px;
}
.nav-button img {
  width: 24px;
  height: 24px;
  filter: none;
  transition: filter 0.3s;
}
input[type="radio"]:checked + label.nav-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
input[type="radio"]:checked + label.nav-button img {
  filter: brightness(0) invert(1);
}