<div class="menu-desktop-content">
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check"  name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label id="label-btnradio1" class="btn" for="btnradio1"><img src="menu/graphic-icon.png" alt="">Visão Geral</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label id="label-btnradio2" class="btn" for="btnradio2"><img src="menu/table-icon.png" alt="">Gerenciar Estoque</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label id="label-btnradio3" class="btn" for="btnradio3"><img src="menu/user-icon.png" alt="">Usuário</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label id="label-btnradio4" class="btn" for="btnradio4"><img src="menu/setting-icon.png" alt="">Configurações</label>
        </div>
    </div>
<ng-content></ng-content>